{% extends 'base.html' %}
{% load static %} 

{% block scripts %}
<script src="{% static 'quizes/quiz.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    {{ object.name }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col"><h3>{{ object.name }}</h3></div>
        <div class="col text-end" id="timer-box">Countdown</div>
    </div>

    
    <form id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
        <div id="quiz-box"></div>
        <hr>
        <button type="submit" class="btn btn-primary mt-3">submit</button>
    </form>
{% endblock content %}